.app-logo{
 text-transform: uppercase;
}
.app-wrapper {
  border-radius   : 8px;
  height: auto;
  overflow: hidden;
  box-shadow: 0 3px 8px 0px #2B2748;
}

.left-bar {
  background-color         : #2B2748;
  border-top-left-radius   : 8px;
  border-bottom-left-radius: 8px;
  height                   : 100%;
}
.right-bar{
  background-color          : whitesmoke;
  border-top-right-radius   : 8px;
  border-bottom-right-radius: 8px;
  height                   : 100%;
}


.app-logo {
  display        : flex;
  justify-content: center;
  align-items    : center;
  height         : 50px;
}

.feature-list {
  padding: 12px 0 12px 12px;
}

.nav-list {
  font-size                : 18px;
  color                    : #ffffff;
  padding                  : 12px 0 12px 12px;
  cursor                   : pointer;
  border-top-left-radius   : 4px;
  border-bottom-left-radius: 4px;
  font-weight              : 500;
  margin-bottom: 1px;
}

.active,
.nav-list:hover {
  background-color: aliceblue;
  color           : darkblue;
  border-right    : 2px solid blue;
}
.active, .active:hover{
  border-right    : 2px solid red;
}

.content-wrapper {
  padding                   : 12px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content-name{
  background-color: #ffffff;
  padding         : 12px;
  margin-bottom   : 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.uiMood-change{
  background-color: whitesmoke;
  border: none;
  border-radius: 8px;
 width: 40px;
 height: 40px;
 display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.uiMood-change:active svg{
 width: 20px;
 height: 20px;
}

.content-name {
  border-top-right-radius: 4px;
}


.content-box {
  margin-bottom             : 0px;
  border-bottom-right-radius: 4px;
  background-color: #ffffff;
  height: 100%;
  padding         : 12px;
}

.a-member{
  justify-content: space-between;
}
.info-box{
  padding: 12px;
  border: 2px solid whitesmoke;
  border-radius: 4px;
}

.info-box h4{
  margin-bottom: 10px;
  font-weight: 400;


}
.info-box h4:last-child{
  margin-bottom: 0px;
}
.table-footer{
  justify-content: space-between;

}
.align-item_center{
  align-items: center;
  gap: 10px;

}

.width-350{
  width: 350px;
    margin-top: -53px;
    margin-bottom: 50px;
}