*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "IBM Plex Sans", serif;
}

body{
  background-color: #666464;
}

h1, h2, h3, h4, h5, h6, p{
  margin-bottom: 15px;
}
.container{
  max-width: 1400px;
  margin: 0 auto;
  padding: 12px;
}

.flex{
  display: flex;
}

.app-row{
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.cal-2{
  width: 16%;
}
.cal-8{
  width: 84%;
}